# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.local

##############################

# Landing Page
src/pages
src/components/benefits
src/components/data-sources
src/components/features
src/components/header
src/components/introduction
src/components/onboarding
src/components/usecases
src/assets/icons/benefit_card_icon.svg
src/assets/icons/feature_card_icon.svg
src/assets/icons/glass.svg
src/assets/icons/usecase_icon.svg

# sections not useful right now
src/components/createLinks
src/components/chatbot