.create-links {
  padding: 2.5rem;
  border-radius: 0.75rem;
  width: 78vw;
  background-color: var(--primary1-V300);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.description {
  color: var(--neutral-G20);
  text-align: center;
  font-size: 1.25rem;
  width: 55%;
  line-height: 1.6;
}

.connectBtn {
  width: auto;
  margin: 0;
}

.new-link {
  align-items: flex-start;
  justify-content: flex-start;
}

.header {
  display: flex;
  gap: 1.5rem;
}

.edit {
  height: fit-content;
}

.create-link-form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.outlineBtn {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0 0.25rem 0 1.25rem;
  width: fit-content;
  border-image: var(--branding-gradient) 1;
  border-width: 2px;
  border-style: solid;
  margin-top: 1vh;
  background: var(--branding-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-success-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 212%;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.link-created {
  background: var(--branding-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem;
  font-weight: 600;
}

.expiry-text {
  color: var(--semantic-Red-R200);
  font-size: 1.1rem;
}

.share-text {
  color: var(--neutral-G20);
  font-size: 1.1rem;
}

.link-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.link-box {
  background: var(--semantic-Green-G50);
  height: fit-content;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
}

.link-box p{
  background: var(--branding-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  font-weight: 500;
}

.copy,
.share {
  padding: 0;
  width: fit-content;
  height: fit-content;
  background: none;
  margin: 0;
}

@media screen and (min-width: 1600px) {
  .create-links {
    width: 80vw;
  }
}
