.AI-response {
  align-self: flex-start;
}

.AI-bubble {
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  background: var(--primary2-P500);
  cursor: pointer;
}

.AI-name {
  background: var(--branding-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.AI-message-text {
  color: var(--neutral-G20);
  line-height: 1.5;
  overflow: hidden;
  white-space: wrap;
  width: 0;
  animation: typing 5s steps(20, end) forwards;
}

@keyframes typing {
  from { width: 0; height:1.2rem; }
  to { width: 100%; height: fit-content;}
}

.feedback-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2.25rem;
}

.feedback-btns-div {
  display: flex;
  gap: 0.5rem;
  visibility: hidden;
  animation: showFeedbackBtns 0.5s forwards 5s;
}

@keyframes showFeedbackBtns {
  0% {
    opacity: 0;
    visibility: hidden;
 }
  100% {
    opacity: 1;
    visibility: visible;
 }
}