.chatbot {
  background: var(--primary2-P500);
  padding: 2rem 0.5rem 1rem 1rem;
  width: 21vw;
  max-width: 22rem;
  border-radius: 0.75rem;
  margin: 0 1.75rem ;
  justify-self: flex-end;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heading {
  align-self: center;
  color: var(--neutral-G0);
  font-size: 1.25rem;
  font-weight: 400;
}

.delete {
  height: 2rem;
  padding: 0.25rem;
  box-sizing: content-box;
}

@media screen and (min-width: 1680px) {
  .chatbot{
    width: 24vw;
  }
  
}


