:root {
  --primary1-V300: #343541;
  --primary-1-V400: #24252e;
  --primary1-V500: #202028;
  --primary2-P300: #444654;
  --primary2-P400: #30313b;
  --primary2-P500: #292b33;
  --neutral-G0: #ffffff;
  --neutral-G10: #fafafa;
  --neutral-G20: #f5f5f5;
  --neutral-G30: #ececec;
  --neutral-G40: #e0e0e0;
  --neutral-G50: #c3c3c3;
  --neutral-G100: #7d7d7e;
  --semantic-Red-R200: #e7505e;
  --semantic-Blue-B50: #e9f4fb;
  --semantic-Blue-B400: #166894;
  --semantic-Green-G50: #e6f2e9;
  --semantic-Green-G100: #6bb682;
  --semantic-Green-G200: #2b964c;
  --semantic-Brown-B50: #f0eee6;
  --semantic-Brown-B500: #3e3605;

  --branding-gradient: linear-gradient(
    134deg,
    #41c791 17.73%,
    #0674f0 153.66%,
    #6961b5 166.81%,
    #f34660 195.91%,
    #ee078d 236.9%
  );

  ::-webkit-scrollbar {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--primary1-V300);
  overflow: hidden;
}
